name: Yearly Metrics

on:
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest

    steps:
      - name: Generate issues metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          user: dmitrijegorov
          repositories: TestIssues
          template: classic
          base: ""

          since: 1y

          plugin_issues: yes
          plugin_issues_limit: 5000
          plugin_issues_days: 365
          plugin_issues_closed: yes
          plugin_issues_opened: yes

          # Breakdown assignee
          plugin_issues_assignees: yes
          plugin_issues_assignees_limit: 20

          plugin_issues_metrics: yes
          plugin_issues_metrics_threshold: 0
          plugin_issues_labels: yes
          plugin_issues_labels_limit: 20
          
          filename: yearly-issues-metrics.svg
          output_action: commit
